body{
    background: url("../../bg.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
.sidebar{
    overflow: auto;
    height: 100vh;
    width: 16vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
}
.sidebar button :first-child {
    font-size: 3rem;
    margin-bottom: 10px;;
}
.sidebar button{
    flex: 1;
    font-size: 1.1rem;
    color: white;
    background-image: radial-gradient(rgb(0, 200, 0,0.8),rgb(0, 100, 0,0.8));
    border: 1.5px solid black;
    cursor: pointer;
}
.sidebar button:hover{
    background-image: radial-gradient(rgb(0, 150, 0,0.8),rgb(0, 250, 0,0.8));
    font-size: 1.2rem;
}
.ToggleButton{
    height: 10vh;
    width: 16vh;
    font-size: 1rem;
    color: white;
    background-image: radial-gradient(rgb(0, 200, 0,0.8),rgb(0, 100, 0,0.8));
    padding: 15px;
    border: 1.5px solid black;
}

@media (max-width: 490px) {
    .sidebar {
      height: 90vh;
    }
    .sidebar button :first-child {
        font-size: 2.5rem;
        margin-bottom: 5px;;
    }
    .sidebar button{
        font-size: 0.8rem;
    }
    .sidebar button:hover{
        font-size: 0.9rem;
    }
  }

@media (max-width: 375px) {
    .sidebar {
        height: 90vh;
    }
    .sidebar button :first-child {
        font-size: 2rem;
        margin-bottom: 5px;;
    }
    .sidebar button{
        font-size: 0.7rem;
    }
    .sidebar button:hover{
        font-size: 0.8rem;
    }
}