.OefCard{
  min-width: 230px;
  max-width: 300px;
  height: 400px;
  margin: 5px;
  box-shadow: 5px 5px rgb(0, 10, 0,0.2);
}
#oefimg {
    border-bottom-left-radius: 60%;
    width: 100%;
    max-height: 300px;
}
.OefBody1{
  background-color: rgb(128, 128, 128,0.8);
  border: 1px solid black;
  max-width: 500px;
  max-height: 250px;
}
.OefBody2{
  background-color: rgb(128, 128, 128,0.8);
  border: 1px solid black;
  max-width: 500px;
}
  