 .sidebar{
    overflow: hidden;
    height: 100vh;
}
.menu{
    height: 12.6vh;
    font-size: 1.6vh;
    background-image: radial-gradient(rgb(0, 200, 0,0.9),rgb(0, 100, 0,0.9));
    border: 1.2px solid black;
    cursor: pointer;  
}
.menu:hover{
    background-image: radial-gradient(rgb(0, 150, 0,0.6),rgb(0, 250, 0,0.8));
    font-size: 1.5vh;
}
