@media (max-width: 600px) {
    .App {
      width: 110%;
      height: 200vh;
    }
    }
    .column1 { 
      padding: 5vh;
      cursor: pointer;
      display: block;
      color: white;
      border: 0.2vh solid black;
      background-color: rgba(138, 143, 144, 0.4); 
      height: 539.5px;     
    }
 
    /* @media (max-width: 600px) {
      .column1  {
      }
      } */
  #Toevoegen{
    position: absolute;
    top: 600px;
    left: 50%;
    right: 50%;    ;
    display: inline-block;
    width: 200px;
    padding-right: 10px;
    height: 50px;
    border: 0.1vh solid black;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    color:white;
    background-image:radial-gradient(rgb(0, 200, 0,0.7),rgb(0, 100, 0,0.5));
  }  
  a{
    color: white;
  }
  .tablerow{
    display: grid;
    width: 500px;
    left: 35%;
    padding-left:100px ;
    top: 500px;
    border-radius: 0.1vh solid black;
    margin: 0 0 3px 0;
    position: relative;
    border-collapse: collapse;
  }
  #rowss{
    display: inline-block;
    text-align: left;
    width: 500px;
    height: 80px;
    border: 0.1vh solid black;
    font-size: 18px;
    color:white;
    background-image:radial-gradient(rgb(0, 200, 0,0.7),rgb(0, 100, 0,0.5));
  }
