.Notitie{
  background-image: radial-gradient(rgb(0, 200, 0,0.9),rgb(0, 100, 0,0.9));
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px rgb(0, 10, 0,0.2);
}
.Not{
  width: 500px;
  max-height: 50px;
}