@media (max-width: 600px) {
  .App {
    width: 110%;
    height: 200vh;
  }
  }
  .notitie {
    background-color: rgba(205, 207, 206, 0.8);        
    margin-left: 30vh;
    margin-right: 10vh;
    margin-bottom: 10vh;
    border: 0.2vh solid black;
    min-height: 50vh;
    width: 150vh;
  }
  #Notitietitel {
    margin-left: 30vh;
    margin-right: 10vh;
    margin-top: 1vh;
    margin-bottom: -1vh;
    border: 0.2vh solid black;
    min-height: 10vh;
    width: 150vh;
    background-image:radial-gradient(rgb(0, 200, 0,0.7),rgb(0, 100, 0,0.5));
    background-color: transparent;
  }
  
#NotitieText{
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.wijzigenButton {
  cursor: pointer;
  background-image:radial-gradient(rgb(0, 200, 0,0.7),rgb(0, 100, 0,0.5));
  background-color: transparent;
  box-shadow: 5px 5px rgb(0, 10, 0,0.3);
  border: none;
  color: white;
  border-radius: 25px;
  right: 28vh;
  bottom: 2vh;
  position: fixed;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  color:white;
}
.trash {
  height: 6.5vh;
  right: 20vh;
  bottom: 2vh;
  position: fixed;

}   