.app{  
  background: url("../bg.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 203vh;
  position: fixed;
  right: 0;
}
.body{
  background-image: url("../voetbalveld.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 17vh;
  margin-right: 70vh;
  margin-top: 30vh;
  margin-bottom: 0vh;
  border: 0.2vh solid black;
  min-height: 63vh;
}
.boardtools{
  background-color:white;
  margin-left: 0vh;
  margin-right: 0vh;
  margin-top: -30vh;
  margin-bottom: 0vh;
  border: 0.2vh solid black;
  min-height: 30vh;
}
.cross{
  background-image: url("./cross.png");
  background-size: cover;
  width: 6vh;
  height: 6vh;
  position: fixed;
  margin-left: 10vh;
}
.circle{
  background-image: url("./circle.png");
  background-size: cover;
  background-size: cover;
  width: 6vh;
  height: 6vh;
  position: fixed;
  margin-left: 20vh;
}
.arrowleft{
  background-image: url("./left-arrow.png");
  background-size: cover;
  background-size: cover;
  width: 6vh;
  height: 6vh;
  position: fixed;
  margin-left: 30vh;
}
.arrowright{
  background-image: url("./right-arrow.png");
  background-size: cover;
  background-size: cover;
  width: 6vh;
  height: 6vh;
  position: fixed;
  margin-left: 40vh;
}
.arrowup{
  background-image: url("./up-arrow.png");
  background-size: cover;
  background-size: cover;
  width: 6vh;
  height: 6vh;
  position: fixed;
  margin-left: 50vh;
}
.arrowdown{
  background-image: url("./down-arrow.png");
  background-size: cover;
  background-size: cover;
  width: 6vh;
  height: 6vh;
  position: fixed;
  margin-left: 60vh;

}