.app{  
    background: url("../bg.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 203vh;
    position: fixed;
    right: 0;
  }


  .addtactiek,.btnDeletePlayer{
    font-size: 3rem;
    font-weight: 900;
    width: 100px;
    height: 100px;
    color: white;
    background-color: transparent;
    border: none;

    position: absolute;
    right:10px; 
    bottom:10px;
}
.addtactiek{
    float:left;
    right:100px; 
}


.roww{
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr ));
  right: 0;
  bottom: 0;
  padding-left: 18vh;
}
.columnn { 
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: black;
  border: 0.1vh solid black;
  background-color: white;
}