.Voornaam{
margin-left: 75vh;
margin-top: 5vh;
}
.Achternaam{
    margin-left: 75vh;
}
#Voornaam,#Achternaam,#Oudewachtwoord,#Nieuwewachtwoord{
    font-size: 2.8vh;
}
.Oudewachtwoord{
    margin-left: 75vh;
}
.Nieuwewachtwoord{
    margin-left: 75vh;
}