button.Gegevens_wijzigen {
    background-image: url(./gegevens_icon.png);
    background-repeat: no-repeat;
    background-size:15vh;
    background-color: transparent; 
    background-repeat: no-repeat;  
    border: black;         
    border-style: solid;
    border-width: 0.1vh;
    font-size: 5vh;
    cursor: pointer;       
    height: 15vh;           
    padding-left: 15vh;    

    margin-top: 10vh;
    margin-left: 55vh;
}