/* All default Values will be put here */
.Inputfield{
  max-width: 250px;
  margin: auto;
  background-color: rgb(255, 255, 255,0.5);
  box-shadow: 3px 3px rgb(0, 10, 0,0.2);
}
.Background{
  background-color: green;  
  background: url("./bg.png")no-repeat center center fixed;
  height: 100vh;
  max-width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.btn{
  box-shadow: 3px 3px rgb(0, 10, 0,0.2);
}
.btn-success{
  background-image: linear-gradient(rgb(0, 200, 0, 0.5), rgb(0, 100, 0, 0.5),rgb(0, 200, 0, 0.5) );
}
.btn-danger{
  background-image: linear-gradient(rgb(200, 0, 0,0.5), rgb(100, 0, 0, 0.5),rgb(200,0, 0, 0.5) );
}
.Body{
  height: 80vh;
  background-color: rgb(128, 128, 128,0.8);
  border: 1px solid black;
  overflow: auto;
    /* display: grid;
  grid-template-columns: auto auto auto auto;*/
}

/* hoofd Menu */

/* The grid: Three equal columns that floats next to each other */
 .MenuColumn { 
  text-align: center;
  font-size: 1.3vw;
  height: 25vh;
  min-width: 25.2vw;
  cursor: pointer;
  color: white;
  border: 0.1vh solid black;
  background-image: radial-gradient(rgb(0, 200, 0,0.9),rgb(0, 100, 0,0.8));
} 
.MenuColumn:hover{
  background-image: radial-gradient(rgb(0, 150, 0,1),rgb(0, 250, 0,1));
}
.Logo{
  height:50vh;
}