
#oefen_img{
  width: 400px;
  height: 450px;
  margin-left: 80pt;
  margin-top: 0.5pt;
}
h5 {
  font-size: 4vh;
  margin-left: 500pt;
  margin-top: -500px;
  color:#253780;
}
h3 {
  font-size: 3vh;
  margin-left: 500pt;
  margin-top: 10px;
  color:#253780;
}
h6 {
  font-size: 3vh;
  margin-left: 500pt;
  margin-top: 10px;
  color:#253780;
}
p6 {
  text-align: center;
  font-size: 2.5vh;
margin-left: 500pt;  
color:#253780;
}
p7 {
  text-align: center;
  font-size: 2.2vh;
margin-left: 500pt;  
color:#253780;
}
h2 {
  font-size: 4vh;
  margin-left: 83pt;
  color:#253780;
}
p5{
  margin-left: 85pt;
  color:#333;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
  
  
#space {
  padding-left: 3.9vh;
}