@media (max-width: 600px) {
    .App {
      width: 110%;
      height: 200vh;
    }
    }

.AddBody{
  text-align: center;
  background-color: transparent;
  overflow: auto;
  color: white;
  font-size: 1.5rem;
  padding: 150px 0;
  width: 179vh;
  position: fixed;
  right: 0;
}

.uitslagBody {
  background: rgba(128,128,128, .7);
  margin-left: 18vh;
  flex-grow : 1; 
}

#HtableR {
  text-align: center;
  width: 84vh;
  border-bottom: 2px solid black;
  padding: 3vh;
}

#HtableL{
  width: 16vh;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 3vh;
}

#tableR {
  text-align: center;
  width: 84vh;
  border-bottom: 1px solid black;
  padding: 2vh;
}

#tableL{
  width: 16vh;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 2vh;
}

.addbutton {
  height: 10vh;
  padding-top: 1vh;
  bottom: 4vh;
  right: 4vh;
  position: fixed;
  color:white;
}

.reportimg {
  height: 3vh;
}

 a:hover{
  background-image: none;
  color: black;
}

a{
  color: black;
}




#titleverslag {
  font-size: 4vh;
  text-align: center;
  border-bottom: 0.2vh solid black;
  background-color: rgba(6, 126, 6, 0.8);
  color: white;
}

#titlestand {
  font-size: 4vh;
  text-align: center;
  border-bottom: 0.2vh solid black;
  background-color: rgba(15, 202, 15, 0.8);
}




#formp1 {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255,0.5);
  border-radius: 5px;
  text-align: center;
}

#formp2 {
  font-size: 1.2rem;
  height: 50px;
  word-break: break-word;
  background-color: rgb(255, 255, 255,0.5);
  border-radius: 5px;
  resize: none;
  outline: none;
  min-height: 44vh;
  width: 500px;
}

#titlelabel{
  
}

#toevoegenbutton {
  margin-left: 38%;
  
}


.place1{
  margin-left: 20vh;
  margin-top: 5vh;
  float: left;
}

.place2{
  float: right;
  margin-right: 20vh;
  margin-top: 5vh;
}


.SubmitBtn{
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background-image:  radial-gradient(rgb(0, 50, 0,0.8),rgb(0, 150, 0,0.8));
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 50px;
}

.opslaanbutton {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background-image:  radial-gradient(rgb(0, 50, 0,0.8),rgb(0, 150, 0,0.8));
  border: 1px solid black;
  border-radius: 5px;
  right: 18vh;
  bottom: 2vh;
  position: fixed;
  width: 30vh;
  cursor: pointer;
}

.trashbutton {
  height: 6.5vh;
  right: 10vh;
  bottom: 2vh;
  position: fixed;

}

#editverslag{
  font-size: 2vh;
  background: transparent;
  resize: none;
  border: 0 none;
  outline: none;
  min-height: 30vh;
  margin-left: 3vh;
  right: 3vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 100%;

}








