.Page{  
    background: url("../bg.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 197vh;
    position: fixed;
    right: 0;
}
.PageHeader{
    text-align: center;
    height: 10%;
    padding: 50px 0px;
    font-size: 2rem;
    font-weight: 700;
    color: white;

    width: 180vh;
    position: fixed;
    right: 0;
}
.Body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow: auto;
    color: white;

    height: 75%;
    width: 178.1vh;
    padding: 50px 200px;

    position: fixed;
    bottom: 0;
    right: 0;

    background-color: rgb(128, 128, 128,0.8);
    border: 1px solid black;
}
.Speler{
    margin: 40px 0px 10px 0px;
}
.Image{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    float: left;
    background-color: teal;
    border: 1px solid black;
    border-radius: 5px;
}
.Spelernaam{
    /* vertical-align: auto; */
    font-size: 1.2rem;
    line-height: 100px;
    text-align: left;
}
.btnAddPlayer,.btnDeletePlayer{
    font-size: 3rem;
    font-weight: 900;
    width: 100px;
    height: 100px;
    color: white;
    background-color: transparent;
    border: none;

    position: absolute;
    right:10px; 
    bottom:10px;
}
.btnAddPlayer{
    float:left;
    right:100px; 
}